# Project-specific
temp/
build/temp/
lib/
lib64/
parts/
dist/
.svn/
src/v-*/
v-*/
build/version/VSVersionInfo
build/version/build-counter.json
build/configs/v-*.json
logs/
jira_importer_logs/
*.log
sandbox/

*.psd
~$*.xlsx
*todo*

# Python
__pycache__/
*.py[cod]
*$py.class
.pytype/
.pytest_cache/
*.so
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Build
*.manifest
*.spec
.pybuilder/
target/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Testing & coverage
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env_vars
*.env_vars

# Type checking
.mypy_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
